<section class="row bg-warning p-5 text-white">
        <div class="col-md-3">
            <h3>DEK-C PHONE SHOP</h4>
            <p>Your one stop shop for the latest smartphones and accessories</p>
        </div>

        <div class="col-md-3">
            <h3>QUICK LINKS</h4>
            <a href="" class="text-white">Home</a><br>
            <a href="" class="text-white">Products</a><br>
            <a href="" class="text-white">About Us</a><br>
            <a href="" class="text-white">Contact</a><br>

        </div>

        <div class="col-md-3">
            <h3>CONTACT US</h4>
            <p>Email: support@vv.com</p>
            <p>Phone: +855 (123) 123-123</p>
            <p>Address: nv pp yg ng</p>
        </div>

        <div class="col-md-3">
            <h3>FOLLOW US</h4>
            <img src="../static/images/x.png" alt="x">
            <img src="..//static/images/fb.png" alt="fb">
            <img src="..//static/images/in.png" alt="insta">
        </div>

        <hr class="m5" style=" height: 5px; color: rgb(51, 47, 47);"/>

        <b class="text-center">All Rights Reserved. @2024</b>

</section>