<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <script src="..//static/js/bootstrap.js"></script>
</head>
<body>
    {% include 'navbar.html' %}
    <form action="/login" method="post">

       
       
        <label for="email">Email</label>
       
        <input type="email" class="form-control" name="email" required />
       
        <br />

       <label for="password">Password</label>
       
        <input type="password" class="form-control" name="password" required />
       
        <br />   

          <!-- Move the submit button inside the form -->
       
          <button type="submit" class="btn btn-primary">LOGIN</button>
            <a href="/register">Dont have an Account? Click to register</a>
       
        <br /><br />            
        </form>
</body>
</html>