<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>upload</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">

</head>
<body>
    {% include 'navbar.html' %}

    <br>
    <section class="row">
        <div class="col-md-6 ms-5">
            <div class="card shadow p-5">
                <b class="text-success"> {{ mesage }} </b>
                <b class="text-danger"> {{ error }} </b>
                <h1 class="text-primary">Upload your products</h1>
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <lable class="for">Product Name</lable>
                    <input type="text" class="form-control" name="product_name" required/>

                    <br>

                    <label for="">product Description</label>
                    <textarea name="product_desc" id="" cols="30" rows="10" class="form-control"></textarea>
                    <br>
                    <label for=""> Product product Cost</label>
                    <input type="number" class="form-control" required name="product_cost"/>

                    <br>

                    <label for="">Product Category</label>
                    <select name="product_category" id="" class="for-control">
                    <option value="phones">Phones</option>
                    <option value="electronics">Electronics</option>
                    <option value="beauty">Beauty</option>
                    <option value="tablets">Tablets</option>
                    <option value="shoes">Shoes</option>
                    </select> <br>

                    <br>
                    <label for="">Product Image</label>
                    <input type="file" class="form-control" name="product_image_name" required/>
                    <br>

                    <input type="submit" class="btn btn-success" value="upload/Add products">

                </form>
            </div>
        </div>
    </section>
</body>
</html>